.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.task {
  font-weight: bold;
}

.task-done {
  font-weight: normal;
  opacity: 0.5;
  text-decoration: line-through;
}

.btn {
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  background-color: #3a3939;
  color: white;
}

.btn-filter-active {
  padding: 5px;
  margin-right: 5px;
  background-color: rgba(217, 113, 113, 0.54);
  border: 3px solid #985454;
  border-radius: 3px;
}

.empty-value-error {
  border: 1px solid red;
}

.error-text {
  color: red;
}