.App {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App > div {
    margin-right: 50px;
}

.task {
    font-weight: bold;
}

.task-done {
    font-weight: normal;
    opacity: 0.5;
    text-decoration: line-through;
}

.btn {
    margin-right: 5px;
}

.btn-filter-active {
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #3b77ff;
    color: white;
}

.empty-value-error {
    border: 1px solid red;
}

.error-text {
    color: red;
}